requests
python-dotenv
pandas~=2.0.0
pyarrow~=12.0.0
loguru
httpx
anyio
openai
faiss-cpu
langchain
langsmith
pypdf
InstructorEmbedding
torch
tdqm
transformers
datasets
jsonlines
numpy
scikit_learn
scipy
sentence_transformers
rich
PyPDF2
pinecone-client[grpc]
python-box
ctransformers
uvicorn
fastapi
tiktoken
